body {
  font-family: "Segoe UI", sans-serif;
  background: #f5f5f5;
  padding: 50px;
}

.card {
  max-width: 100%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 100%;
}

.ribbon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  overflow: hidden;
  z-index: 1;
}

.ribbon {
  position: absolute;
  left: -35px;
  top: 15px;
  transform: rotate(-45deg);
  width: 160px;
  background: #b94a48;
  text-align: center;
  font-size: 0.75rem;
  padding: 6px 0;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.datetime-box {
  background: #1c1c1c;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  /* border-radius: 0 0 0 10px; */
}

.card-body {
  text-align: center;
  background-color: #f9f7f7;
  padding: 15px;
}

.card-body h2 {
  margin: 0 0 10px;
  font-size: 20px;
}

.card-body p {
  margin: 5px 0;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.patient-id,
.datetime-box {
  font-size: 0.85rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-content-box {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
