.container {
  width: 90%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
}

.header h2 {
  margin: 0;
  font-size: 18px;
}

.list-cases-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.opd-container {
  display: flex;
  padding: 20px;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

select, input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  background-color: black;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #333;
}



.action-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #333;
}
