.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
}

.details {
  flex: 1;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 28px;
  font-size: 14px;
}

.status {
  background: #d1fae5;
  color: #065f46;
  padding: 2px 8px;
  border-radius: 9999px;
  font-size: 12px;
}

.subscription-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.subscription-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.price {
  color: #dc2626;
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}

.per-month {
  font-size: 14px;
  color: #6b7280;
  font-weight: 500;
}

.add-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #660000;
  color: white;
  padding: 6px 12px;
  border-radius: 12;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.green {
  background: #34d399;
}

.blue {
  background-color: #660000;
}

.add-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.add-circle {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;
}

.icon-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}


.branches{
  display: flex;
  gap: 20px;

}


/* .branch-box {
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} */


.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.icon-group {
  display: flex;
  gap: 8px;
}
