.label-container {
  width: auto;
  padding: 10px;
  border: 1px solid black;
  font-size: 11px;
  font-family: Arial, sans-serif;
  line-height: 1.3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.barcode-container {
  margin-top: 4px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.barcode-container svg {
  height: 40px;
}
