.dashboard-wrapper {
  padding: 20px;
  /* background-color: #f8f9fa; */
  min-height: 100vh;

}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #2c3e50;
}

.hospital-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: stretch; /* All children stretch to same height */
}


