
/* new tab view */
.tab-bar {
  display: flex;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 500;
  color: #666;
}

.tab.active {
  color: #000;
  font-weight: 600;
}

.tab-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%; /* dynamically divide based on tab count */
  height: 3px;
  background: var(--dropdown-color);
  transition: transform 0.3s ease;
}

.big-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--sidebar-color);
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.big-circle:checked {
  background-color: var(--dropdown-color);
  border-color: var(--sidebar-color);
}
