
.card {
  background: #fff;
  padding: 2rem;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card-header h2 {
  font-size: 1.4rem;
}

.dropdown {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 1.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.permissions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.permission-group {
  flex: 1 1 calc(33.333% - 1rem);
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

}


.group-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.actions {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 2rem;
  gap: 1rem;
}
.btn {
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: #2563eb;
  color: white;
}

.btn-secondary {
  background-color: #e5e7eb;
  color: #111827;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

}
