.title {
    text-align: center;
    background: #e7eaf1;
    padding: 5px;
    margin-top: 10px;
    font-size: 18px;
  }
  
  .patient-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .patient-info p,
  .doa-info p {
    margin: 2px 0;
    font-size: 14px;
  }
  
  .doa-info {
    margin-top: 10px;
  }
  
  .type {
    margin-top: -25px;
  }
  
  @media print {
    #ipd-sheet {
      max-height: 100vh;
      overflow: hidden;
    }
  }
  
  @media print {
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
  
  .page {
    padding: 5mm;
    font-family: Arial, sans-serif;
  }
  