.dropdown-uhid-custom {
  position: relative;
  top: 30px;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  max-height: 300px;
  padding: 5px;
}

.uhid-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.uhid-list li {
  padding: 5px 10px;
  border-bottom: 1px solid #f0f0f0;
}

.uhid-list li:hover {
  background-color: #f5f5f5;
}
