.container {
  width: 90%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.patient-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.patient-details label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.patient-details input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.data-selection {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.data-table table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
.data-table input {
  width: 100%;
  padding: 5px;
  border: none;
  text-align: center;
}
.save-print {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.save-print:hover {
  background-color: #0056b3;
}

.w-50{
  width: 48% !important;
}
