<div class="form-meta">
  <div class="header">
    <h2>ADD ROOM TYPE</h2>
    <span class="icons position-relative">
      <i
        class="fa-solid fa-signal"
        [routerLink]="['/master/roomtypemasterlist']"
        routerLinkActive="router-link-active"
      ></i>
    </span>
  </div>

  <div *ngIf="userPermissions.create">
    <form [formGroup]="roomTypeForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <div class="form-half">
          <div class="form-group">
            <label>Room Type Name <span class="required">*</span></label>
            <input
              formControlName="name"
              class="form-control"
              placeholder="e.g., Deluxe, General"
            />
            <div
              *ngIf="roomTypeForm.get('name')?.touched && roomTypeForm.get('name')?.invalid"
              class="text-danger"
            >
              Name is Required
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea
              formControlName="description"
              class="form-control"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="form-half">
          <div class="form-group">
            <label>Price/Day <span class="required">*</span></label>
            <input
              type="number"
              formControlName="price_per_day"
              class="form-control"
              placeholder="Enter daily price"
            />
            <div
              *ngIf="roomTypeForm.get('price_per_day')?.touched && roomTypeForm.get('price_per_day')?.invalid"
              class="text-danger"
            >
              Price/Day is Required
            </div>
          </div>
          <div class="form-group">
            <label>
              Active
              <input type="checkbox" formControlName="isActive" />
            </label>
          </div>
        </div>
      </div>
      <div class="form-actions text-center mt-3">
        <button type="submit" class="btn btn-dark mx-2" [disabled]="roomTypeForm.invalid">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
