<div class="form-meta">
  <div class="header">
    <h2>WARD LIST</h2>
    <button class="list-cases-btn" routerLink="/master/wardmaster">
      ADD WARD
    </button>
  </div>
  <!-- <div class="container"> -->

  <form [formGroup]="filterForm" class="top-bar p-3">
    <input type="text" placeholder="Search..." formControlName="searchText" />
  </form>

  <!-- <div class="loader-wrapper" *ngIf="wards.length === 0">
    <div class="loader">
      <img src="Untitled design (6).jpg" alt="Loading..." class="loading-img" />
    </div>
  </div> -->

  <div
    class="table-responsive"
    *ngIf="userPermissions.read && wards.length > 0"
  >
    <table
      class="table table-bordered table-hover align-middle diagnosis-table"
    >
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Ward Name</th>
          <th>Rooms</th>
          <th>Remarks</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let ward of wards; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ ward.ward_name }}</td>
          <td>
            <ng-container *ngFor="let room of ward?.room_id; let last = last">
              {{ room.roomNumber }}<span *ngIf="!last">, </span>
            </ng-container>
          </td>

          <td>{{ ward.remarks }}</td>
          <td>
            <i
              class="fa-solid fa-pencil action-btn"
              (click)="editWard(ward._id)"
              *ngIf="userPermissions.update"
            ></i>
            <i
              class="fa-solid fa-trash action-btn"
              (click)="deleteWard(ward._id)"
              *ngIf="userPermissions.delete"
            >
            </i>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <button
        class="pagination-btn"
        (click)="previousPage()"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      Page {{ currentPage }} of {{ totalPages }}
      <button
        class="pagination-btn"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
      >
        Next
      </button>
    </div>
  </div>

  <!-- </div> -->
</div>
