<div class="form-meta">
  <div class="header">
    <h2>OPD APPOINTMENTS</h2>
    <!-- <button class="list-cases-btn" [routerLink]="['/opd/opdappointment']" routerLinkActive="router-link-active">ADD -->
    <!-- APPOINTMENT </button> -->
  </div>
  
  <!-- <div class="filters text-center m-3 d-flex justify-content-between">
      <label for="">Status:</label>
      <select class="form-control w-25" >
        <option value="">Status</option>
        <option value="">Approved</option>
        <option value="">Rescheduled</option>
        <option value="">Rejected</option>
      </select>
    
      <label for=""> From:</label>
    <app-customcalendar class="w-25"></app-customcalendar>
    <label for="">To:</label>
    <app-customcalendar class="w-25"></app-customcalendar>
    </div> -->
  
  <!-- <div class="top-bar p-3">
      <form [formGroup]="filterForm" class="top-bar p-3">
        <input type="text" placeholder="Search..." formControlName="searchText" />
      </form>
    
    
    </div> -->
  
  <!-- Filter by Today or Date Range -->
  <!-- <div class="filters d-flex align-items-center m-3">
      <label class="m-3">
          <input type="radio" name="filter" value="today" [(ngModel)]="activeFilter" (change)="applyFilters()" checked>
          TODAY'S
      </label>
  
      <label class="m-3">
          <input type="radio" name="filter" value="dateRange" [(ngModel)]="activeFilter" (change)="applyFilters()">
          Date Range
      </label> -->
  
  <!-- Date Inputs Visible Only for Date Range -->
  <!-- <input *ngIf="activeFilter === 'dateRange'" type="date" [(ngModel)]="startDate" (change)="applyFilters()"
          class="form-control mx-2" />
      <input *ngIf="activeFilter === 'dateRange'" type="date" [(ngModel)]="endDate" (change)="applyFilters()"
          class="form-control mx-2" />
  </div> -->
  
  <app-loader [patientData]="filteredCases" [title]="module" [activeFilter]="activeFilter" [startDate]="startDate"
    [endDate]="endDate"></app-loader>
  
  <div class="filters d-flex justify-content-between align-items-center m-2">
    <div class="form-group w-50 my-2" *ngIf="displayedCases.length > 0">
      <!-- <label for="doctorFilter" class="form-label mx-3">Search Doctor</label> -->
  
      <div class="input-group mx-2">
        <input type="text" class="form-control" [(ngModel)]="doctorFilter" (input)="onDoctorFilterChange()"
          (focus)="showSuggestions = true" (blur)="hideSuggestions()" placeholder="Search by doctor name" />
        <button class="btn btn-outline-secondary" type="button" (click)="clearDoctorFilter()" *ngIf="doctorFilter">
          ✕
        </button>
      </div>
  
      <!-- Suggestions dropdown -->
      <ul class="list-group position-absolute w-100 shadow"
        *ngIf="showSuggestions && filteredDoctorSuggestions.length > 0" style="z-index: 10">
        <li class="list-group-item list-group-item-action" *ngFor="let doc of filteredDoctorSuggestions"
          (mousedown)="selectDoctor(doc)">
          {{ doc }}
        </li>
      </ul>
    </div>
  
    <!-- <div class="form-group position-relative w-25">
      <input type="text" [(ngModel)]="searchText" (input)="applyFilters()" placeholder="Search by uhid/patient/mobile"
        class="form-control" />
    </div> -->
  </div>
  
  <div class="mt-2" *ngIf="userPermissions.read && displayedCases.length > 0">
    <table class="table table-bordered table-hover align-middle diagnosis-table">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <!-- <th>Case No</th> -->
          <th>Token No</th>
          <th>UHID</th>
          <th>Patient Name</th>
          <th>Doctor Name</th>
          <th>Appointment Date</th>
          <th>Appointment Time</th>
          <th>Verification</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of displayedCases; let i = index" [ngClass]="{ 'missed-appointment': patient.isMissed }">
          <td>{{ i + 1 }}</td>
          <!-- <td>{{ "OPD"+ i+1}}</td> -->
          <td>{{ patient.token_number }}</td>
          <td>{{ patient.uhid?.uhid }}</td>
          <td>{{ patient.uhid?.patient_name }}</td>
          <td>{{ patient.Consulting_Doctor?.name }}</td>
          <td>{{ patient.date | date : "yyyy-MM-dd" }}</td>
          <td>{{ formatTimeToAmPm(patient.time) }}</td>
  
          <td>
            <button class="btn btn-success" (click)="markPatientAsCheckin(patient)" *ngIf="!patient.isCheckin">
              Check-in
            </button>
            <span *ngIf="patient.isCheckin" class="text-success fw-bold">
              Checked-in
            </span>
          </td>
          <td>
            <span *ngIf="patient.status === 'missed'" class="badge missed">
              Missed
            </span>
            <span *ngIf="patient.status === 'cancelled'" class="badge cancelled">
              Cancelled
            </span>
            <span *ngIf="patient.status === 'confirmed'" class="badge done">
              Consultation
            </span>
            <span *ngIf="patient.status === 'scheduled'" class="badge upcoming">
              Upcoming
            </span>
          </td>
  
          <td>
            <button *ngIf="patient.outpatientcaseId" class="btn btn-sm btn-primary" (click)="openReassignModal(patient)">
              Reassign Doctor
            </button>
            <!-- <ng-container
              *ngIf="patient.status === 'scheduled' && !patient.isMissed"
            >
              <i
                class="fa-sharp fa-solid fa-check actio action-btn"
                (click)="markAppointmentAsDone(patient)"
              ></i>
              <i
                class="fa-sharp fa-solid fa-xmark action-btn"
                (click)="markAppointmentAsCancelled(patient)"
              ></i>
            </ng-container> -->
            <i *ngIf="!patient.outpatientcaseId" class="fa-sharp fa-solid fa-address-card action-btn"
              (click)="createCase(patient)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination Controls -->
    <div class="pagination d-flex justify-content-center align-items-center my-3">
      <button class="pagination-btn btn btn-primary mx-2" (click)="previousPage()" [disabled]="currentPage === 1">
        Previous
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="pagination-btn btn btn-primary mx-2" (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal-backdrop" *ngIf="selectedPatient">
    <div class="modal-content-box">
      <div class="modal-header">
        <h3 style="visibility: hidden">Patient Details</h3>
        <button class="close-btn" (click)="closeModal()">×</button>
      </div>
      <hr />
      <div class="modal-body">
        <app-patient-appointment [patientData]="selectedPatient"></app-patient-appointment>
      </div>
    </div>
  </div>
  <!-- Modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="reassignModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reassign Doctor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" *ngIf="selectedAppointment">
          <p>Reassign: <strong>{{ selectedAppointment.uhid.patient_name }}</strong> (UHID: {{
            selectedAppointment.uhid.uhid }})</p>
  
          <select class="form-select" [(ngModel)]="selectedDoctorId">
            <option value="">Select Doctor</option>
            <option *ngFor="let doctor of doctors" [value]="doctor._id">
              {{ doctor.name }}
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-success"
            (click)="confirmDoctorAssignment(selectedAppointment, selectedDoctorId)">Confirm</button>
        </div>
      </div>
    </div>
  </div>

</div>