<!-- <p>patholayout works!</p> -->
<!-- <header>
  <app-pathoheader></app-pathoheader>
 </header>


<main>
  <router-outlet></router-outlet>
</main> -->

<div class="admin-layout-container" [class.sidebar-collapsed]="sidebarCollapsed">
  <aside class="sidebar" [class.collapsed]="sidebarCollapsed">
    <button class="sidebar-toggle-btn" (click)="toggleSidebar()">
      <span *ngIf="!sidebarCollapsed">&#9776;</span> <!-- hamburger icon -->
      <span *ngIf="sidebarCollapsed">&times;</span>  <!-- close icon -->
    </button>
      <app-pathoheader></app-pathoheader>


  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
<app-adminfooter></app-adminfooter>
