.calendar-container {
  position: relative;
  width: 100%;
}

.calendar-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calendar-picker {
  position: absolute;
  top: 40px;
  left: 0;
  width:100%;
  background: #f8f8f8;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  background: darkred;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.calendar-header button {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}

.day-label {
  font-weight: bold;
}

.calendar-grid div {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 2px;
  border: 1px solid darkred;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.calendar-grid div.selected {
  background: darkred;
  color: white;
}

.calendar-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.calendar-footer select {
  padding: 5px;
  border-radius: 5px;
}
