<!-- <p>returnlist works!</p> -->


<!-- <p>mrdlist works!</p> -->

<div class="header">
  <h2>RETURN LIST</h2>
  <button class="list-cases-btn" [routerLink]="['/opd/return']" routerLinkActive="router-link-active" >ADD OPD RETURN DATA</button>
</div>
<div class="top-bar p-3">
  <form [formGroup]="filterForm" class="top-bar p-3">
    <input type="text" placeholder="Search..." formControlName="searchText" />
  </form>


</div>

  <table class="table table-bordered table-hover align-middle diagnosis-table">
 <thead class="table-dark text-center" >
    <tr>
      <th>Bill No</th>
      <th>Bill Amount</th>
      <th>Amount Deposited</th>
      <th>Amount Return</th>
      <th>Receiver Name</th>
      <th>Payment Mode</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of opdreturn">
      <td>{{ patient.outpatientBillId?._id }}</td>
      <td>{{ patient.outpatientBillId?.totalAmount }}</td>
      <td>{{ patient.outpatientDepositId?.depositAmount }}</td>
      <td>{{ patient.caseno }}</td>
      <td>{{ patient.returnReceiverName }}</td>
      <td>{{ patient.returnPaymentMethod }}</td>

      <td>
        <!-- <i class="fa-solid fa-print action-btn"></i> -->
        <!-- <i class="fa-solid fa-eye action-btn"  (click)="viewPatientreturn(patient)"></i> -->
        <i class="fa-solid fa-pencil action-btn" (click)="editPatientreturn(patient._id)"></i>
        <i class="fa-solid fa-trash action-btn"  (click)="deletPatientreturn(patient._id)"></i>

      </td>
    </tr>
  </tbody>
</table>
