body {
    font-family: "Segoe UI", sans-serif;
    background: #f5f5f5;
    padding: 50px;
}

.card {
    max-width: 100%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-height: 100%;
}

/* .ribbon {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: absolute;
        top: -1px;
        left: -1px;
    }

    .ribbon span {
        position: absolute;
        display: block;
        width: 140px;
        padding: 5px 0;
        background: #c0392b;
        color: #fff;
        font-weight: bold;
        text-align: center;
        transform: rotate(-45deg);
        transform-origin: 0 0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    } */

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    padding: 10px 15px;
}

.patient-id {
    font-weight: bold;
}

.datetime-box {
    background: #1c1c1c;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

.card-body {
    text-align: center;
    padding: 15px;
    background-color: rgb(248, 247, 247);
}

.card-body h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.card-body p {
    margin: 5px 0;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.patient-id,
.datetime-box {
    font-size: 0.85rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-box {
    background-color: #fff;
    width: 70%;
    /* Adjust between 60% to 80% as needed */
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}