.custom-tab {
    color: #6c757d;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    background-color: #f8f9fa;
}

.custom-tab:hover {
    color: white;
    background-color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(102, 30, 3);
}

:host {
    display: block;
    font-family: 'Segoe UI', sans-serif;
    background: #f3f6f9;
    padding: 1rem;
    color: #333;
}
