
.occupied {
  background-color: red;
  color: white;
  padding: 10px;
  animation: flash 1s infinite alternate;
}
@keyframes flash {
  0% { background-color: red; }
  100% { background-color: darkred; }
}
.patient-info {
  font-size: 12px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.occupied-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: red;
  text-align: center;
  padding: 2px;
}
.booked-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: orange;
  text-align: center;
  padding: 2px;
}
